<%= form_for @student do |f| %>
  <div class="field">
    <%= f.label :Student %>
    <%= f.text_field :name, :size => 140 %>
    <%= f.text_field :profile, :size => 140 %>
    <%= f.text_field :mentor, :size => 140 %>
    <%= f.text_field :grade, :size => 140 %>
  </div>
  <%= f.submit "Tweetする" %>
  
<% end %>
